* {
  margin: 150px;
  font-family: monoface, sans-serif;
  font-weight: 400;
  transition: all 300ms;
}

.App {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100dvh;
}

.inputContainer {
  display: flex-center;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  color: rgb(125, 125, 125);

  h3 {
    font-size: 40px;
    text-align: end;
  }
}

h3:hover {
  transform: translateX(20px) scale(1.2);
  color: blue;
}

input {
  border: 1px solid rgb(197, 197, 197);
  width: 50dvw;
  height: 10dvh;
  font-size: 25px;
  padding: 10px;
  border-radius: 30px;
}
